* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("grass.png");
  color: #000;
  font-family: "Bungee", cursive;
  font-family: "IBM Plex Mono", monospace;
}

body {
  display: flex;
  width: 900px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 900px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#game-canvas {
  border: 2px solid #389e0d;
}

#score-container {
  background: #092b00;
  color: white;
}

#score-number {
  font-family: "IMB Plex Mono", monospace;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: end;
}
